:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #202020;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* mycarousel */
.container{
  display: flex;
}
.img-container{
  width: 1000px;
  height: 500px;
  overflow-x: hidden;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider{
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.nextbutton{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  /* background-color: #755858; */
  /* opacity: 0.5; */
  position: absolute;
  top: 50%;
  right: 3%;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
.prevbutton{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  /* background-color: #000000; */
  /* opacity: 0.5; */
  position: absolute;
  top: 50%;
  left: 3%;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
.listbutton-container{
  width: 100%;
  height: 20px;
  display: flex;
  /* background-color: aquamarine; */
  bottom: 3%;
  position: absolute;
  justify-content: center;
}
.listbutton{
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: gray;
  margin-right: 15px;
  cursor: pointer;
}
.nextbutton:hover{
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}
.prevbutton:hover{
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}
